#message {
  color: red;
  text-align: center;
  font-weight: bold;
}

#login {
  margin-top: 100px;
}

#QuotePriceQuickView {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#QuoteDisclaimer {
  color: black;
  font-size: 13px;
  text-wrap: normal;
  text-align: center;
  display: inline-block;
  
}

#MonQuoteTerritoryRate {
  font-size: 16px;
}

#MonQuoteDurationRate {
  font-size: 16px;
  
}

#MonQuoteEQLoad{
  font-size: 16px;
}

#BasicRate{
 font-size: 16px; 
}

#AOPDedFactor{
  font-size: 16px;
}

#QuoteWindDeductibleFactor{
  font-size: 16px;
}

#QuoteWindExclusionFactor{
  font-size: 16px;
}

#QuoteFinalRate{
  font-size: 16px;  
}

#QuoteLimitPer100{
  font-size: 16px;
}

#QuoteFinalPremium{
  font-size: 16px;
}